@model SGF.net.Models.members

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>members</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.memberId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.memberId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.documentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.documentId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.memberMaritalStatus.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.memberMaritalStatus.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.birthdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.birthdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cellNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cellNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.offices.officeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.offices.officeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dischargedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dischargedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.memberPaymentTypes.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.memberPaymentTypes.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
