@using SGF.net.Helpers;
@model IEnumerable<SGF.net.Models.offices>

@{
    ViewBag.Title = "SGF.net - Departamentos";
}

<h2>Departamentos</h2>
<p>
    @*<span class="btn btn-default">@Html.ActionButton(" Agregar", "Create", "Office", "glyphicon glyphicon-plus")</span>*@
    <a title="Agregar" href="@Url.Action("Create", "Office")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Agregar </a>                           
</p>



<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.officeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.officeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officeName)
            </td>
          
            <td class="text-center controls">
                        <div class="btn-group btn-group-sm control">                            
                            <a title="Detalles" href="@Url.Action("Details", "Office", new { id = item.officeId })" class="btn btn-default bg-warning"><span class="glyphicon glyphicon-list-alt"></span></a>                           
                            <a title="Editar" href="@Url.Action("Edit", "Office", new { id = item.officeId })" class="btn btn-default bg-info"><span class="glyphicon glyphicon-pencil"></span></a>                           
                            <a title="Eliminar" href="@Url.Action("Delete", "Office", new { id = item.officeId })" class="btn btn-default bg-danger"><span class="glyphicon glyphicon-remove"></span></a>                            
                        </div>
                 </td>
        </tr>
    }

</table>

