@*@model IEnumerable<SGF.net.Models.memberLoans>*@
@model PagedList.IPagedList<SGF.net.Models.View_PendingsPayments>
@using SGF.net.Helpers.Bootstrap3
@using Resources
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-14">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4><strong>Gestión de Pagos</strong></h4></div>
            <div class="panel-body">

                @if (Model.Count() > 0)
                {                                      
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Crédito #
                            </th>
                            <th>
                                Asociado
                            </th>                                
                            <th>                                
                                Tipo de Crédito                            
                            </th>
                            @*<th>                                
                                Monto Total                        
                            </th>*@
                            <th>                                
                                Monto Cuota                          
                            </th>
                            <th>                                
                                Saldo Actual                            
                            </th>
                            <th>                                
                                Pagos Realizados                            
                            </th>
                            <th>                                
                                Pagos Pendientes                            
                            </th>
                            
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Operacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreFull)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombreCredito)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.montoTotal)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.montoCuota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MontoSaldoActual)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CuotasHechas)
                                </td>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.SaldoCuotas)
                                </td>

                                <td class="text-right controls">
                                    <div class="btn-group btn-group-sm control">
                                        @*@Html.ActionLinkBootstrap(string.Empty, "Details", new { id = item.memberLoanId, id2 = item.memberId }, null, Buttons.Default, Icons.List_Alt, @Resources.btnDetailsText)*@
                                        
                                        
                                        
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                    
                     <div style="text-align:center">
                                <span>                                   
                                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                                </span>
                      </div>

                }
                else
                {
                    <div class="clearfix"></div>
                    <div class="alert alert-info">
                        <div class="no-results">No existen datos.</div>                        
                    </div>
                    @Html.ActionLinkBootstrap(@Resources.btnBackText, "Index", null, new { @class = "min-width-100" })
                }

            </div>
        </div>
    </div>
</div>


