@model SGF.net.Models.loanTypes
@using SGF.net.Helpers.Bootstrap3
@using Resources

@{
    ViewBag.Title = "SGF.net - Líneas de Crédito - Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-12">
        <div class="panel panel-primary ">
            <div class="panel-heading"><h4><b>Eliminar Línea de Crédito</b></h4></div>
            <div class="panel-body">
                
                <h4>¿Está seguro que desea eliminar este registro? </h4>
                <br />
                <dl class="dl-horizontal  dl-detalle">
                    <dt>
                        @Html.DisplayNameFor(model => model.loanTypeId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.loanTypeId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>                    
                </dl>

            </div>
            <div class="panel-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="text-center">
                        @Html.SubmitButtonBootstrap(@Resources.btnDeleteText, Buttons.Primary, new { @class = "min-width-100" })
                        @Html.ActionLinkBootstrap(@Resources.btnCancelText, "Index", null, new { @class = "min-width-100" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>