@model SGF.net.Models.loanTypes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>loanTypes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.loanTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.loanTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.interestRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.interestRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.monthTerm)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.monthTerm)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.paymentMonth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.paymentMonth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.totalPayments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.totalPayments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.totalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.totalAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amountFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amountFee)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
