@model SGF.net.Models.loanTypes
@using SGF.net.Helpers.Bootstrap3
@using Resources

@{
    ViewBag.Title = "SGF.net - Lineas de Credito - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-10">
        <div class="panel panel-default ">
            <div class="panel-heading"><h4><strong>Detalle del Asociado</strong></h4></div>
            <div class="panel-body">
                <dl class="dl-horizontal dl-detalle">
                    <dt>
                        @Html.DisplayNameFor(model => model.loanTypeId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.loanTypeId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.amount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.amount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.interestRate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.interestRate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.monthTerm)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.monthTerm)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.paymentMonth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.paymentMonth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.totalPayments)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.totalPayments)
                    </dd>

                     <dt>
                        @Html.DisplayNameFor(model => model.totalAmount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.totalAmount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.amountFee)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.amountFee)
                    </dd>          

                    
                </dl>
            </div>
            <div class="panel-footer">
                <div class="form-group text-center">
                    @Html.ActionLinkBootstrap(@Resources.btnEditText, "Edit", new { id = Model.loanTypeId }, new { @class = "min-width-100" }, Buttons.Primary)
                    @Html.ActionLinkBootstrap(@Resources.btnBackText, "Index", null, new { @class = "min-width-100" })
                </div>
            </div>
        </div>
    </div>
</div>

