<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>@ViewBag.Title</title>
         @Styles.Render("~/Content/bootstrapcss")
         @RenderSection("scripts", required: false)
         @Scripts.Render("~/bundles/jquery")
         @Scripts.Render("~/bundles/bootstrapjs")  
         <link rel="stylesheet" type="text/css" href="/Content/Site.css" media="screen" />
    </head>
<body id="estiloBody">

    
<div class="container" >
 <div class="row clearfix  hidden-xs visible-sm visible-md visible-lg"><br></div>

 <div class="row show-grid">
  <div class="col-md-2">
      <img id="estiloLogo" src="/Images/applications-office.png" alt="Alternate Text" />
  </div>  
  <div class="col-md-10">
      <header id="estiloHeader">
          
          <h1>Sistema de Gestión Financiera - <small>Sitramusca</small> </h1>
          
      </header>
  </div>
</div>

<div class="row show-grid">
  <div class="col-md-3">
      <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
      </ol>
  </div>  
  <div class="col-md-9">
     <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SGF.net</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-tabs">
            <li><a href="@Url.Action("Index", "Home")">Principal</a></li>
            <li><a href="#">Acerca de</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contáctenos<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>

<div class="row show-grid">
  <div class="col-md-3">
      <h4>Menú Principal <span class="glyphicon glyphicon-th-large"></span></h4>
     <div class="btn-group-vertical">
         <div class="btn-group">                     
              <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
                   Mantenimiento 
                  <span class="caret"></span>
                      
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="@Url.Action("Index", "Office")">Departamentos</a></li>
                  <li><a href="@Url.Action("Index", "Member")">Asociados</a></li>
                  <li><a href="#">Familiares Directos</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Reportes</a></li>
              </ul>
          </div>
       
          <div class="btn-group">   
               <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">                     
                    Créditos 
                   <span class="caret"></span>              
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="@Url.Action("Index", "LineasCredito")">Líneas de Crédito</a></li>
                  @*<li class="divider"></li>*@
                  <li><a href="@Url.Action("Index", "Creditos")">Gestión de Créditos</a></li>
                  @*<li><a href="#">Aprobación</a></li>             
                  <li><a href="#">Impresión</a></li>*@
              </ul>      
          </div>

          <div class="btn-group">   
               <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">               
                    Pagos 
               <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="@Url.Action("Index", "Payment")">Registro de Pagos</a></li>                  
                  <li><a href="#">Anular Pagos</a></li>
                  <li class="divider"></li>           
                  <li><a href="#">Reportes</a></li>
              </ul>      
          </div>

          <div class="btn-group">   
               <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">               
                    Seguridad 
               <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Perfiles</a></li>                  
                  <li><a href="#">Usuarios</a></li>                  
              </ul>      
          </div>

      </div>
 </div>  
  
    <div class="col-md-7">
     @RenderBody()
  </div>
</div>
    </div>  

@*</div>*@


 
</body>
</html>
