@model SGF.net.Models.memberLoans
@using SGF.net.Helpers.Bootstrap3
@using Resources

@{
    ViewBag.Title = "SGF.net - Credito - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-10">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4><strong>Detalle del Credito</strong></h4>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <tr>
                        <th>Operación #</th>
                        <td>@Html.DisplayFor(model => model.memberLoanId)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.loanTypes.name)</th>
                        <td>@Html.DisplayFor(model => model.loanTypes.name)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.members.documentId)</th>
                        <td>@Html.DisplayFor(model => model.members.documentId)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.members.fullname)</th>
                        <td>@Html.DisplayFor(model => model.members.fullname)</td>
                    </tr>

                    <tr>
                        <th>Estado</th>
                        <td>@Html.DisplayFor(model => model.memberLoansStatus.name)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.appDate)</th>
                        <td>@Html.DisplayFor(model => model.appDate)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.aprDate)</th>
                        <td>@Html.DisplayFor(model => model.aprDate)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.loanTypes.totalAmount)</th>
                        <td>@Html.DisplayFor(model => model.loanTypes.totalAmount)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Notes)</th>
                        <td>@Html.DisplayFor(model => model.Notes)</td>
                    </tr>
                </table>

            </div>
            <div class="panel-footer">
                <div class="form-group text-center">
                    @Html.ActionLinkBootstrap(@Resources.btnEditText, "Edit", new { id = Model.loanTypeId }, new { @class = "min-width-100" }, Buttons.Primary)
                    @Html.ActionLinkBootstrap(@Resources.btnBackText, "Index", null, new { @class = "min-width-100" })
                </div>
            </div>
        </div>
    </div>
</div>

