@*@model IEnumerable<SGF.net.Models.memberLoans>*@
@model PagedList.IPagedList<SGF.net.Models.memberLoans>
@using SGF.net.Helpers.Bootstrap3
@using Resources
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-12">

        <div class="panel panel-primary">
            <div class="panel-heading"><h4><strong>Gestión de Créditos</strong></h4></div>
            <div class="panel-body">

                @if (Model.Count() > 0)
                {
                    
                    using (Html.BeginForm("Index", "Creditos", FormMethod.Get))
                {
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="SearchString" class="col-md-4 control-label">Buscar por Cédula:</label>
                            <div class="col-md-6">                               
                               @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class = "form-control"})                         
                            </div>
                        </div>
                        <div class="form-group">
                            <span style="float: left">
                                @Html.SubmitButtonBootstrap(@Resources.btnSearchText, Buttons.Default, new { @class = "min-width-100" })
                            </span>
                        </div>
                       
                    </form>            
                 }   
                    
                     <br /> <br /> 
                                       
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Id Crédito
                            </th>
                            <th>
                              @Html.ActionLink("Nombre Completo", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })  
                            </th>
                            @* <th>
                                Asociado (Nombre)
                            </th>*@
                            <th>                                
                                Estado                              
                            </th>
                            <th>                                
                                <span style="float: right">
                                    @Html.ActionLinkBootstrap(@Resources.btnCreateText, "Create", Buttons.Default, Icons.Plus)
                                </span>
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.memberLoanId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.members.fullname)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.members.firstName)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.memberLoansStatus.name)
                                </td>

                                <td class="text-right controls">
                                    <div class="btn-group btn-group-sm control">
                                        @Html.ActionLinkBootstrap(string.Empty, "Details", new { id = item.memberLoanId, id2 = item.memberId }, null, Buttons.Default, Icons.List_Alt, @Resources.btnDetailsText)
                                        @if (item.memberLoansStatus.memberLoanStatusId == 1)
                                        {
                                            @Html.ActionLinkBootstrap(string.Empty, "Edit", new { id = item.memberLoanId, id2 = item.memberId }, null, Buttons.Default, Icons.Pencil, @Resources.btnEditText)
                                         @Html.ActionLinkBootstrap(string.Empty, "Delete", new { id = item.memberLoanId, id2 = item.memberId }, null, Buttons.Default, Icons.Remove, @Resources.btnDeleteText)
                                        } 
                                        
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                    
                     <div style="text-align:center">
                                <span>
                                    @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
                                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                                </span>
                      </div>

                }
                else
                {
                    <div class="clearfix"></div>
                    <div class="alert alert-info">
                        <div class="no-results">No existen datos.</div>                        
                    </div>
                    @Html.ActionLinkBootstrap(@Resources.btnBackText, "Index", null, new { @class = "min-width-100" })
                }

            </div>
        </div>
    </div>
</div>


